<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>::: Ecommerce :::</title>
</head>
<body>
    <h1>Ecommerce</h1>
    <h2>Welcome to our web site</h2>

    <table>
        <thead>
                <tr>
                    <th> Name </th>
                    <th> Description </th>
                    <th> Price </th>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td>TV</td>
                <td>70" good tv</td>
                <td>1500</td>
            </tr>
        </tbody>
    </table>
</body>
</html>