{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        {% for key, value in product_names.items %}
        <!-- Single Best Receipe Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
                <img src="{% static 'img/bg-img/coin.jpg' %}" alt="">
                <div class="receipe-content">
                    <a href="{% url 'product' %}">
                        <h5>{{value}}</h5>
                    </a>
                    <div>€62,89</div>
                    <button type="submit" class="btn delicious-btn">On Sale Now</button>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}