{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="container">
    <!-- product Content Area -->
    <div class="receipe-content-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <h2>Details - {{product.name}}</h2>
                        {% if product.image == '' %}
                            <img src="{% static 'img/default.png' %}" alt="">
                        {% else %}
                            <img src="{{ product.image.url }}" style="width: 10%; height: 10%;" alt="">
                        {% endif %}
                        <div class="receipe-duration">
                            <h6>Description:</h6>
                            <p>{{product.description}}</p>
                            <p>Category: {{product.category}} - Qtde 1 - Price: € {{product.price}}</p>
                        </div>
                    </div>
                    <form>
                            <div class="col-12 col-lg-2 text-right">
                                    <a  href="{% url 'payments' product.id %}" class="btn delicious-btn">Confirm Payment</a>
                            </div>
                    </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}