{% extends 'base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="container">
    <!-- product Content Area -->
    <div class="receipe-content-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <h2>{{product.name}}</h2>
                        <div class="receipe-duration">
                            <h6>Description:</h6>
                            <p>{{product.description}}</p>
                            <h6>Category:</h6>
                            <p>{{product.category}}</p>
                            <h6>Price</h6>
                            <p>€ {{product.price}}</p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="receipe-post-search mb-80">
        <div class="container">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-12 col-lg-2 text-right">
                        <button type="submit" class="btn delicious-btn">Buy Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}