{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Single Best Receipe Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-best-receipe-area mb-30">
                <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                <div class="receipe-content">
                    <a href="{% url 'product' %}">
                        <h5>Nome da receita</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}